body {
    font-family: Arial, sans-serif;
    font-size: 18px;

}

a {
    outline: none;
    text-decoration: none;
    font-weight: revert;
    padding: 2px 1px 0;
}

a:link {
    color: cornflowerblue;
}

a:visited {
    color: cornflowerblue;
}

a:hover {
    border-bottom: 1px solid;
}

a:focus {
    color: unset;
}

.container {
    background-color: #333333;
    alignment: left;
    color: whitesmoke;
    max-height: 40px;
    margin: 1px auto;
    padding: 15px;
    text-align: left;
    width: 100%;
}

h2, h1, h3 {
    color: #333333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 16em;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 17.5em;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

.button:active {
    background-color: #3e8e41;
}
.welcome{
    width: 100%;
    height: 100%;
    background-image: url("/WEB-INF/styles/wp4414506-tropical-paradise-wallpapers.jpg");
}