th {
    text-align: left;
    color: #333333;
    background-color: #4CAF50;
}

td {
    min-width: 100px;
    color: #333333;
    border-bottom: 1px solid #eee;
    max-width: fit-content;
}

th, td {
    padding: 10px;
    height: 20px;
}


td:first-child {
    width: 100px;
    min-width: 0;
}

tr:nth-child(odd) {
    background-color: whitesmoke;
}